/*
* @Author: Administrator
* @Date:   2018-07-10 19:20:48
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-10 19:21:19
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
img{
	display: block;
}